@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color: rgb(247, 240, 247);
    text-align: center;
    font-size: larger;
    font-weight: bold;
    padding:30px black;
    font-family: 'Poppins';
    background: url(https://images.pexels.com/photos/1633689/pexels-photo-1633689.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
}
h1{
    color:black;
}
h2{
    color: black;
}
h3{
    color: coral;
}
h4{
    color: darksalmon;
}
h5{
    color: rgb(109, 190, 190);
}
.round{
    margin: auto;
   align-content: center;
    border: 2px solid black;
    border-radius: 50%;
    height:300px;
    width:300px;
    margin-top: 20px;
   
}
.round:hover{
    background: url(https://images.pexels.com/photos/1454752/pexels-photo-1454752.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    transition-timing-function: linear;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 22px;
    text-decoration: none;
  }
  li a:hover {
    background-color: rgb(25, 128, 237);
    font-weight: bolder;
  }